---
layout: default
---

<html>
   <head>
   
      <script type="text/javascript">
         <!--
            function Redirect() {
               window.location="http://76.127.199.204";
            }
            
            document.write("You will be redirected to main page in 1 sec.  If this doesn't work, it means javascript is not enabled.  Please access at http://76.127.199.204");
            setTimeout('Redirect()', 25);
         //-->
      </script>
      
   </head>
   
   <body>
   </body>
</html>
